<div class="container">
    <div *ngIf='router.url == "/admin/dashboard/allocation/view"'>
        <div class="container" style="overflow-x: auto;">
            <h1 class="text-center"><i class="fa fa-info-circle"></i> Asset Allocation Requests</h1>
            <div class="input-group mb-3 float-left col-md-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input (keyup)='onKeyUpAll($event)' class="form-control" placeholder="Search..." />
            </div>
            <div ngbDropdown class="float-right">
                <button class="btn" id="dropdownBasic1" ngbDropdownToggle>View By Status</button>
                <br>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)='allocations = tempAllocations'>All</button>
                    <button ngbDropdownItem (click)='allocations = pendingAllocations'>Pending</button>
                    <button ngbDropdownItem (click)='viewApproved()'>Approved</button>
                    <button ngbDropdownItem (click)='viewRejected()'>Rejected</button>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <caption *ngIf='!isLoaded'>
                    <div class="spinner spinner-border"></div> Loading...
                </caption>
                <thead class="clickable">
                    <td>Allocation Id</td>
                    <td>Asset Id</td>
                    <td>Asset Name</td>
                    <td>Asset Status</td>
                    <td>Employee Id</td>
                    <td>Employee Name</td>
                    <td>Request Status</td>
                    <td>Remark</td>
                    <td colspan="2">Approve / Deny</td>
                </thead>
                <tbody>
                    <tr
                        *ngFor='let allocation of allocations| paginate: { itemsPerPage: bucketSize, currentPage: page}'>
                        <td>{{allocation.allocationId}}</td>
                        <td>{{allocation.asset.assetId }}</td>
                        <td>{{allocation.asset.assetName}}</td>
                        <td>{{allocation.asset.status}}</td>
                        <td>{{allocation.employee.employeeId}}</td>
                        <td>{{allocation.employee.employeeName}}</td>
                        <td>{{allocation.status}}</td>
                        <td>{{allocation.remark}}</td>
                        <td title="Approve" class="clickable"
                            (click)='changeStatus(allocation.allocationId, "approved")'>
                            <i class="fa fa-check" style="color: green;"></i>
                        </td>
                        <td title="Reject" class="clickable"
                            (click)='changeStatus(allocation.allocationId, "rejected")'>
                            <i class="fa fa-times-circle" style="color: red;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    <div *ngIf='router.url == "/admin/dashboard/allocation/view/pending"'>
        <div class="container" style="overflow-x: auto;">
            <h1 class="text-center"><i class="fas fa-hourglass"></i> Pending Requests</h1>
            <div class="input-group mb-3 float-left col-md-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input (keyup)='onKeyUp($event)' class="form-control" placeholder="Search..." />
            </div>
            <div class="alert alert-danger" *ngIf='changeStatusErr'>
                <a class="close clickable" (click)='changeStatusErr = false'>&times;</a>
                <strong><i class="far fa-times-circle"></i> Error!</strong> Asset is
                already assigned. Please reject this request.
            </div>
            <table class="table table-striped table-bordered table-hover">
                <caption *ngIf='!isLoaded'>
                    <div class="spinner spinner-border"></div> Loading...
                </caption>
                <thead class="clickable">
                    <td (click)='sortByAllocationId()'>
                        <i *ngIf='sortedByAllocationId' class="fa fa-sort"></i>
                        Allocation Id
                    </td>
                    <td>Asset Id</td>
                    <td>Asset Name</td>
                    <td>Asset Status</td>
                    <td>Employee Id</td>
                    <td>Employee Name</td>
                    <td>Remark</td>
                    <td colspan="2">Approve / Deny</td>
                </thead>
                <tbody>
                    <tr
                        *ngFor='let allocation of pendingAllocations| paginate: { itemsPerPage: bucketSize, currentPage: page}'>
                        <td>{{allocation.allocationId}}</td>
                        <td>{{allocation.asset.assetId }}</td>
                        <td>{{allocation.asset.assetName}}</td>
                        <td>{{allocation.asset.status}}</td>
                        <td>{{allocation.employee.employeeId}}</td>
                        <td>{{allocation.employee.employeeName}}</td>
                        <td>{{allocation.remark}}</td>
                        <td title="Approve" class="clickable"
                            (click)='changeStatus(allocation.allocationId, "approved")'>
                            <i class="fa fa-check" style="color: green;"></i>
                        </td>
                        <td title="Reject" class="clickable"
                            (click)='changeStatus(allocation.allocationId, "rejected")'>
                            <i class="fa fa-times-circle" style="color: red;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    <div *ngIf='router.url.indexOf("/manager/dashboard/allocation/request")!== -1'>
        <div class="row" style="padding-top: 2rem;">
            <div class="col-md-6">
                <div class="card bg-transparent">
                    <div class="card-header">
                        <h1 class="text-center"><i class="fa fa-paper-plane"></i> Create Request</h1>
                    </div>
                    <form #requestForm="ngForm" (submit)='requestAllocation()'>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" name='assetId' [(ngModel)]='allocation.assetId' #assetId='ngModel'
                                    placeholder="Enter asset id" class="form-control" required />
                                <span *ngIf='assetId.touched && !assetId.valid'>
                                    <p class="errorText">Please enter asset id</p>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" name='employeeId' [(ngModel)]='allocation.empId'
                                    #employeeId='ngModel' placeholder="Enter employee id" class="form-control"
                                    required />
                                <span *ngIf='employeeId.touched && !employeeId.valid'>
                                    <p class="errorText">Please enter employee id</p>
                                </span>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name='remark' [(ngModel)]='allocation.remark'
                                    placeholder="Enter remark" class="form-control">
                                        </textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button [disabled]='!requestForm.valid' type="submit" class="btn btn-primary"><i
                                    class="fa fa-paper-plane"></i> Send
                                request</button>
                        </div>
                    </form>
                    <div class="alert alert-success alert-dismissible" *ngIf='isSubmitted'>
                        <a class="close clickable" (click)='isSubmitted = false; requestForm.reset()'
                            aria-label="close">&times;</a>
                        <strong><i class="fa fa-paper-plane"></i> Success!</strong> Request submitted
                        successfully.
                    </div>
                    <div class="alert alert-danger" *ngIf='isAssetError'>
                        <a class="close clickable" (click)='isAssetError = false; requestForm.reset()'
                            aria-label="close">&times;</a>
                        <strong><i class="fa fa-times"></i> Error!</strong> Requested asset does not exist.
                    </div>
                    <div class="alert alert-danger" *ngIf='isEmpError'>
                        <a class="close clickable" (click)='isEmpError = false; requestForm.reset()'
                            aria-label="close">&times;</a>
                        <strong><i class="fas fa-user-times"></i> Error!</strong> Requested employee does not exist.
                    </div>
                    <div class="alert alert-danger" *ngIf='assetNotAvailableError'>
                        <a class="close clickable" (click)='assetNotAvailableError = false; requestForm.reset()'
                            aria-label="close">&times;</a>
                        <strong><i class="fas fa-ban"></i> Error!</strong> Requested asset is already allocated.
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center" style="padding-top: 2rem;">
                <h2 class=""><i class="fas fa-search"></i> {{'search asset' | titlecase}}</h2> <br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form #searchDetailsForm='ngForm' (submit)='searchAssetDetails()'>
                            <div class="form-row">
                                <div class="col">
                                    <input class="form-control" name=null placeholder="Search Asset Name..."
                                        [ngbTypeahead]="searchAsset" [(ngModel)]='assetName' #asstName='ngModel'
                                        required />
                                </div>
                                <button [disabled]='!asstName.valid' type="submit" class="btn"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <div *ngIf='isAssetDetailsLoading'>
                            <div class="spinner spinner-grow"></div> Loading...
                        </div>
                        <div style="padding-top: 2rem;" *ngIf='isAssetDetailsFetched'>
                            <div class="alert">
                                <button class="close" (click)='isAssetDetailsFetched = false'>&times;</button>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Id</th>
                                        <td>{{asset.assetId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{asset.assetName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span style="color: orangered;" *ngIf='asset.status == "allocated"'>
                                                <b>{{asset.status}}</b>
                                            </span>
                                            <span style="color: green;" *ngIf='asset.status == "unallocated"'>
                                                <b>{{asset.status}}</b>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Remark</th>
                                        <td>{{asset.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <h2><i class='fas fa-user-clock'></i> Search Employee</h2>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form #searchDetailsForm='ngForm' (submit)='searchEmployeeDetails()'>
                            <div class="form-row">
                                <div class="col">
                                    <input class="form-control" name="employeeName"
                                        placeholder="Search Employee Name..." [ngbTypeahead]="searchEmployee"
                                        [(ngModel)]='employeeName' #empName='ngModel' required />
                                </div>
                                <button [disabled]='!empName.valid' type="submit" class="btn"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <div *ngIf='isEmployeeDetailsLoading'>
                            <div class="spinner spinner-grow"></div> Loading...
                        </div>
                        <div style="padding-top: 2rem;" *ngIf='isEmployeeDetailsFetched'>
                            <div class="alert">
                                <button class="close" (click)='isEmployeeDetailsFetched = false'>&times;</button>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Id</th>
                                        <td>{{employee[0].employeeId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{employee[0].employeeName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{employee[0].employeeRole}}</td>
                                    </tr>
                                    <tr>
                                        <th>Salary</th>
                                        <td>{{employee[0].employeeSalary}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='router.url == "/manager/dashboard/allocation/view-status"'>
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <div class="col-md-6" style="padding-top: 2rem;">
                    <div class="card bg-transparent">
                        <div class="card-header">
                            <h2><i class="fas fa-location-arrow"></i> Track requests</h2>
                        </div>
                        <div class="card-body">
                            <ngb-tabset [destroyOnHide]="false">
                                <ngb-tab>
                                    <ng-template ngbTabTitle>By <b>Allocation ID</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <form #findByAllocation='ngForm'
                                            (submit)='findByAllocationId(findByAllocation.value.allocationId)'>
                                            <div class="container">
                                                <div class="form-group" style="padding-top: 2rem;">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input class="form-control"
                                                                placeholder="Enter Allocation Id..." name="allocationId"
                                                                [(ngModel)]='allocation.allocationId'>
                                                        </div>
                                                        <div class="col">
                                                            <button type="submit" class="btn"><i
                                                                    class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>By <b>Asset</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <form #findByAsset='ngForm' (submit)='findByAssetId(findByAsset.value.assetId)'>
                                            <div class="container">
                                                <div class="form-group" style="padding-top: 2rem;">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input class="form-control" placeholder="Enter Asset id..."
                                                                name="assetId" [(ngModel)]='asset.assetId'>
                                                        </div>
                                                        <div class="col">
                                                            <button class="btn" type='submit'><i
                                                                    class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>By <b>Employee</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <form #findByEmpIdForm='ngForm'
                                            (submit)='findByEmployee(findByEmpIdForm.value.empId)'>
                                            <div class="container">
                                                <div class="form-group" style="padding-top: 2rem;">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input class="form-control" name="empId"
                                                                [(ngModel)]='employee.employeeId'
                                                                placeholder="Enter Employee Id...">
                                                        </div>
                                                        <div class="col">
                                                            <button class="btn"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>

                </div>
                <div class="col-md-6" style="padding-top: 2rem;">
                    <div class="card bg-transparent">
                        <div class="card-header">
                            <h2><i class="fa fa-search"></i> Search Asset / Employee</h2>
                        </div>
                        <div class="card-body">
                            <ngb-tabset>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>Asset</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-group" style="padding-top: 2rem;">
                                            <form (submit)='searchAssetDetails()'>
                                                <div class="row">
                                                    <div class="col">
                                                        <input class="form-control" placeholder="Enter Asset Name..."
                                                            [ngbTypeahead]='searchAsset' name="assetName"
                                                            [(ngModel)]='assetName'>
                                                    </div>
                                                    <div class="col">
                                                        <button type='submit' class="btn"><i
                                                                class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>Employee</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-group" style="padding-top: 2rem;">
                                            <form (submit)='searchEmployeeDetails()'>
                                                <div class="row">
                                                    <div class="col">
                                                        <input class="form-control" placeholder="Enter Employee Name..."
                                                            [ngbTypeahead]="searchEmployee" name="employeeName"
                                                            [(ngModel)]='employeeName'>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2rem;">
                <div class="col-md-8 text-center" *ngIf='isAllocationsFetched'>
                    <h2><i class="fa fa-list-alt"></i> Search Results</h2>
                    <table class="table table-bordered">
                        <thead>
                            <td>Allocation Id</td>
                            <td>Asset Id</td>
                            <td>Asset Name</td>
                            <td>Employee Id</td>
                            <td>Employee Name</td>
                            <td>Status</td>
                            <td>Remark</td>
                        </thead>
                        <tbody>
                            <tr *ngFor='let allocation of allocations'>
                                <td>{{allocation.allocationId}}</td>
                                <td>{{allocation.asset.assetId }}</td>
                                <td>{{allocation.asset.assetName}}</td>
                                <td>{{allocation.employee.employeeId}}</td>
                                <td>{{allocation.employee.employeeName}}</td>
                                <td>{{allocation.status}}</td>
                                <td>{{allocation.remark}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-warning" *ngIf='noAllocations'>
                        <a class="close clickable" (click)='noAllocations = false;' aria-label="close">&times;</a>
                        <strong><i class="fa fa-exclamation-circle"></i></strong> No requests found.
                        successfully.
                    </div>
                </div>
                <div class="col-md-4">
                    <div *ngIf='isEmployeeDetailsLoading'>
                        <div class="spinner spinner-grow"></div> Loading...
                    </div>
                    <div *ngIf='isEmployeeDetailsFetched'>
                        <div class="alert">
                            <button class="close" (click)='isEmployeeDetailsFetched = false'>&times;</button>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Id</th>
                                    <td>{{employee[0].employeeId}}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{employee[0].employeeName}}</td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>{{employee[0].employeeRole}}</td>
                                </tr>
                                <tr>
                                    <th>Salary</th>
                                    <td>{{employee[0].employeeSalary}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div *ngIf='isAssetDetailsLoading'>
                        <div class="spinner spinner-grow"></div> Loading...
                    </div>
                    <div style="padding-top: 2rem;" *ngIf='isAssetDetailsFetched'>
                        <div class="alert">
                            <button class="close" (click)='isAssetDetailsFetched = false'>&times;</button>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Id</th>
                                    <td>{{asset.assetId}}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{asset.assetName}}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <span style="color: orangered;" *ngIf='asset.status == "allocated"'>
                                            <b>{{asset.status}}</b>
                                        </span>
                                        <span style="color: green;" *ngIf='asset.status == "unallocated"'>
                                            <b>{{asset.status}}</b>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Remark</th>
                                    <td>{{asset.remark}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='router.url == "/manager/dashboard/allocation/view-requests"'>
        <div class="container" style="overflow-x: auto;">
            <h1 class="text-center"><i class="fa fa-list-ol"></i> Raised Requests</h1>
            <table class="table table-striped table-bordered table-hover">
                <caption *ngIf='!isLoaded'>
                    <div class="spinner spinner-border"></div> Loading...
                </caption>
                <caption>
                    List of all assets.
                    <select class="form-control float-right col-md-2" [(ngModel)]='bucketSize'>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <label class="float-right" style="padding-top: 0.5rem;">Items per
                        page:&nbsp;&nbsp;</label>
                </caption>
                <thead class="clickable">
                    <td (click)='sortByAllocationId()'>
                        <i *ngIf='sortedByAllocationId' class="fa fa-sort"></i>
                        Allocation Id
                    </td>
                    <td>Asset Id</td>
                    <td>Asset Name</td>
                    <td>Asset Status</td>
                    <td>Employee Id</td>
                    <td>Employee Name</td>
                    <td>Request Status</td>
                    <td>Remark</td>
                </thead>
                <tbody>
                    <tr *ngFor='let allocation of allocations | 
                    paginate: { itemsPerPage: bucketSize, currentPage: page}'>
                        <td>{{allocation.allocationId}}</td>
                        <td>{{allocation.asset.assetId }}</td>
                        <td>{{allocation.asset.assetName}}</td>
                        <td>{{allocation.asset.status}}</td>
                        <td>{{allocation.employee.employeeId}}</td>
                        <td>{{allocation.employee.employeeName}}</td>
                        <td>{{allocation.status}}</td>
                        <td>{{allocation.remark}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>